[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wakeonlan = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-cors = "*"
pyping = "*"
waitress = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.11"
